bcrypt==3.1.3
boto3==1.4.5
botocore==1.5.92
certifi==2017.7.27.1
cffi==1.10.0
chardet==3.0.4
colander==1.4
colorama==0.3.9
cornice==2.4.0
cornice-swagger==0.5.1
docutils==0.14
ecdsa==0.13
enum34==1.1.6
hupper==1.0
idna==2.5
iso8601==0.1.12
jmespath==0.9.3
jsonpatch==1.16
jsonpointer==1.10
jsonschema==2.6.0
kinto==7.3.1
logging-color-formatter==1.0.2
mohawk==0.3.4
PasteDeploy==1.5.2
pycparser==2.18
pyramid==1.8.5
pyramid-multiauth==0.9.0
pyramid-tm==2.2
python-dateutil==2.6.1
repoze.lru==0.6
requests==2.18.3
requests-hawk==1.0.0
s3transfer==0.1.10
simplejson==3.11.1
six==1.10.0
transaction==2.1.2
translationstring==1.3
ujson==1.35
urllib3==1.22
venusian==1.1.0
waitress==1.0.2
WebOb==1.7.3
zope.deprecation==4.2.0
zope.interface==4.4.2
